body {
    margin:0;
    font-family: 'Montserrat', sans-serif;
}

section {
    padding:40px;
}

section > section:nth-child(2n) {
    text-align: right;
}

header h3 {
    font-size: 2em;
}

#nav {
    padding: 1em 2em 3em 1em;
}

#nav ul {
    list-style: none;
    padding: 0;
}

#nav li a {
    margin: 0 0 0 1em;
    text-decoration:none;
}


.nav-item {
    float:right;
    padding: 0;
    margin: 0;
    color: #380752;
}

.nav-brand a {
    padding: 0;
    margin: 0;
    float:left;
    color:black;
}

#banner {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    font: Helvetica;
    text-transform: uppercase;
    padding: 10rem 5rem 5em 5rem;
    text-shadow: 6px 3px black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.fade {
    position: relative;
    bottom: 25em;
    height: 25em;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    width:100%;
    margin-bottom: -30em;
}

#banner h1 {
    font-size: 40pt;
    font-weight: bold;
}

#types {
    display: block;
    padding: 5em 5em 0 5em;
    color: black;
    margin-bottom: 5em;
}

.cards {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
}

.card {
    width: 15rem;
    height: 20rem;
    border: 0.1em solid;
    border-radius: 1em;
    padding: 2em;
    margin: 0 2em 0 2em;
    text-align: center;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    box-shadow: inset 0 0 100px black;
}

.card img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .2;
    width: 100%;
    height: 100%;
}

.card h3 {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

.card hr {
    width: 100%;
    border: none;
    height: 0.7px;
    background-color:white;
}

.card button {
    color:black;
    background-color: white;
    border: none;
    border-radius: 0.5em;
    padding: 1em;
    text-transform: uppercase;
    font-size: 0.8em;
    position: absolute;
    bottom: 2em;
}

.card button:hover {
    cursor: pointer;
    background-color: lightgray;
}

.card button:active {
    background-color: darkgray;
}

.card button:focus {
    outline:0;
}

#edm {
    background-color: darkblue;
}

#hiphop {
    background-color: darkgreen;
}

#rock {
    background-color: darkred;
}

#quote {
    background-image: url("../images/dre_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    font: Helvetica;
    text-transform: uppercase;
    padding: 10rem 5rem 10em 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

#dre {
    width: 20em;
    height: 20em;
    margin-right: 3em;
    -webkit-border-radius: 10em;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 20em;
    -moz-background-clip: padding;
    border-radius: 20em;
    border: 8px solid white;
    background-clip: padding-box;
    float: left;
    background-size: cover;
    background-position: center center;
    background-image: url('../images/dre.jpg')
}

#quote h1 {
    font-size: 30pt;
    font-weight: bold;
}

#newsletter {
    text-align: center;
    margin-bottom: 2em;
}

#newsletter input[type='email'] {
    border-radius: 6px;
    border: 2px solid #380752;
    padding: 1em;
    font-size: 1em;
    width: 15em;
}

#newsletter input[type='submit'] {
    border-radius: 6px;
    margin-left: 1em;
    padding: 1em;
    font-size: 1em;
    text-transform: uppercase;
    color:white;
    background-color: #380752;
}

#more {
    margin-top: 2em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    overflow:hidden;
    box-shadow: inset 0 0 100px black;
    background: black;
    color:white;
}

#more img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .2;
}

#more h1 {
    font-size: 25pt;
    text-transform: uppercase;
    font-weight: 400;
}
